* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: var(--dark);
  overflow: hidden;
}

:root {
  --dark: #212125;
  --light: #eeeeee;
  --yellow: rgb(246, 223, 74);
  --blue: rgb(92, 92, 228);
  --darker-blue: rgb(85, 85, 209);
}

/* Global */

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

p,
label {
  font-size: 9px;
}

img {
  width: 100%;
}

input[type="text"] {
  outline: none;
  width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 15px;
}

.navbar h1 {
  color: white;
  user-select: none;
}

.navbar ul {
  color: white;
  list-style: none;
  display: flex;
  margin-right: 4rem;
}

.navbar ul li {
  margin-left: 10px;
  cursor: pointer;
}

.navbar ul li:hover {
  text-decoration: underline;
  color: #999;
}

.navbar .avatar {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar .avatar:hover {
  transform: scale(1.2);
}

.navbar .mode button {
  background: none;
  font-size: 1.5em;
  margin-right: 2rem;
  cursor: pointer;
  border: none;
  display: none;
}

.navbar .mode .dark {
  color: var(--yellow);
}

.navbar .mode .light {
  color: rgb(215, 215, 215);
}

/* Search Area */

.search-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.search-wrapper form {
  margin-top: 10px;
}

.search-wrapper .field {
  filter: drop-shadow(0px 10px 30px var(--blue));
}

.search-wrapper h1 {
  font-size: 3.5rem;
  user-select: none;
  color: white;
  font-weight: 700;
}

.search-wrapper button {
  background: var(--blue);
  padding: 12px 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-wrapper button:hover {
  background-color: var(--darker-blue);
}

.search-wrapper button:focus {
  box-shadow: 0 0 0 2px var(--light);
}

.search-wrapper button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.search-wrapper .footer {
  color: lightgray;
}
