* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background: var(--dark);
  overflow: hidden;
}

:root {
  --dark: #212125;
  --light: #eeeeee;
  --red: #ec4242;
  --darker-red: #d33b3b;
  --yellow: rgb(246, 223, 74);
  --blue: rgb(92, 92, 228);
  --darker-blue: rgb(85, 85, 209);
}

/* Global */

a {
  text-decoration: none;
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

p,
label {
  font-size: 9px;
}

img {
  width: 100%;
}

input[type="text"] {
  outline: none;
  width: 25rem;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 1rem;
}

hr {
  border: none;
  height: 1px;
  background: #444;
  margin: 1rem 0;
}

/* Custom classes */
.hidden {
  display: none !important;
}

/* Modes */
.light-mode {
  background-color: var(--light);
}

/* Navbar */

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 15px;
}

/* Light Mode */
.light-mode .navbar ul li .item {
  color: var(--dark) !important;
}

.navbar h1 {
  color: white;
  user-select: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-right: 4rem;
}

.navbar .item {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.navbar .item:hover {
  text-decoration: underline;
  color: #999;
}

.navbar .avatar {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.navbar .avatar:hover {
  transform: scale(1.2);
}

.navbar .mode button {
  background: none;
  font-size: 1.5em;
  margin-right: 2rem;
  cursor: pointer;
  border: none;
  display: none;
}

.navbar .mode .dark {
  color: var(--yellow);
}

.navbar .mode .light {
  color: #444;
}

/* Search Area */

.search-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

/* Light Mode */
.light-mode .search-wrapper .logo {
  color: var(--dark);
}

.light-mode .search-wrapper .footer {
  color: gray;
}

.search-wrapper form {
  margin-top: 10px;
}

.search-wrapper .field {
  filter: drop-shadow(0px 10px 30px var(--blue));
}

.search-wrapper .logo {
  font-size: 3.5rem;
  user-select: none;
  color: white;
  font-weight: 700;
}

.search-wrapper button {
  background: var(--blue);
  padding: 12px 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.search-wrapper button:hover {
  background-color: var(--darker-blue);
}

.search-wrapper button:focus {
  box-shadow: 0 0 0 2px var(--light);
}

.search-wrapper button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Modal (for options) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal .modal-content {
  width: 50%;
  height: 50%;
  background: var(--light);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal .modal-content form .option {
  padding: 10px;
  border: 1px solid var(--dark);
  border-radius: 5px;
  margin-bottom: 10px;
}

.modal .modal-content form .option label {
  color: green;
  font-size: 0.7rem;
}

.modal .modal-content form .option button {
  background: var(--red);
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal .modal-content form .option button:hover {
  background-color: var(--darker-red);
}

.modal .modal-content h2 {
  font-size: 2rem;
}

.modal .modal-content p {
  font-size: 0.9rem;
  color: lightslategrey;
  margin-bottom: 1rem;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.modal-footer button {
  background: var(--red);
  padding: 12px 12px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
}

.modal-footer button:hover {
  background-color: var(--darker-red);
}

/* Mobile View */

@media screen and (max-width: 480px) {
  .search-wrapper .logo {
    font-size: 2.5rem !important;
  }

  input[type="text"] {
    padding: 8px 10px;
    width: 15rem;
  }

  .search-wrapper button {
    padding: 8px 10px;
  }

  .search-wrapper .field {
    margin-bottom: 10px;
  }

  .modal .modal-content {
    width: 80%;
    height: 80%;
  }
}

/* History */

.search-wrapper .history {
  margin-top: 2rem;
}

.search-wrapper .list-item {
  color: rgb(92, 92, 228);
}

/* Light Mode */
.light-mode .search-wrapper .list-item span {
  color: var(--dark) !important;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1.2em;
  width: 100%;
  color: white !important;
}

.footer button {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Light Mode */

.light-mode .footer button {
  color: var(--dark) !important;
}
